@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/*Loader*/
.loader{
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: all 1.5s;
}
.loader .ring{
  height: 45px;
  width: 45px;
  border: 5px solid #ddd;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .ring:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #ff3d00;
  border-top-color: transparent;
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  100%{
    transform: rotate(760deg);
  }
}
/*End Loader*/
body{
	overflow-x: hidden;
}
section
{
	padding: 100px;
}

.banner 
{
	position: relative;
	min-height: 100vh;
	background: url(../images/keyboard.jpg);
	opacity: 95%;
	background-size: cover;
	background-position: right;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.banner h2
{
	font-size: 3em;
	color: #fff;
	font-weight: 500;
	line-height: 1.5em;
}
.banner h2 span
{
	font-size: 1.5em;
	font-weight: 700;
}
.banner h3
{
	font-size: 1.5em;
	color: #fff;
	font-weight: 500;
}
.btn{
  position: relative;
  display: inline-block;
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 30px 0;
  border: 4px solid #2196f3;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.btn::before{
  background: #2196f3;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.4s ease;
}
.btn1::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.btn1:hover::before{
  height: 380%;
}
header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.4s;
}
header.sticky
{
	background: #fff;
	padding: 20px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}
header .logo
{
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
}
header.sticky .logo
{
	color: #111;
}
header ul
{
	position: relative;
	display: flex;
}
header ul li
{
	position: relative;
	list-style: none;
}
header ul li a
{
	position: relative;
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
}
header.sticky ul li a
{
	color: #111;
}
.heading
{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
	color: #111;
}
.heading h2
{
	font-weight: 600;
	font-size: 30px;

}
.content
{
	display: flex;
	justify-content: space-between;
}
.contentBx
{
	padding-right: 30px;
}

.contentBx h3
{
	font-size: 24px;
	margin-bottom: 10px;

}
.w50
{
	min-width: 50%;
}
img
{
	max-width: 50%;
}
.skill
{
	background: #111;
}
.heading.white
{
	color: #fff;
}
.skill .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.skill .content .skillBx
{
	padding: 40px 20px;
	background: #222;
	color: #fff;
	max-width: 340px;
	margin: 20px;
	text-align: center;
	transition: 0.5s;
}
.skill .content .skillBx:hover
{
	background: #2196f3;
	transition: 0.5s;
}
.skill .content .skillBx img
{
	max-width: 80px;
	filter: invert(1);
}
.skill .content .skillBx h2
{
	font-size: 20px;
	font-weight: 600;
}
.project .content
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.project .content .projectBx
{
	width: 50%;
	padding: 20px;
}
.project .content .projectBx img
{
	max-width: 100%;
}
.project .content .projectBx p,
.project .content .projectBx a
{
	text-align: center;
	text-decoration: none;
}
.button{
  position: relative;
  display: inline-block;
  color: black;
  font-size: 16px;
  text-decoration: none;
  margin: 30px 0;
  border: 4px solid #2196f3;
  padding: 8px 20px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}
.button1::before{
  background: #2196f3;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.4s ease;
}
.button1::before{
  width: 100%;
  height: 0%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.button1:hover::before{
  height: 380%;
}
.work
{
	background: #f7f7f7;
}
.work .content
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.work .content .workBx
{
	max-width:calc(50% - 40px);
	padding: 60px 40px;
	margin: 20px;
	background: #33ab9f;
}
.work .content .workBx p
{
	color: #fff;
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
}
.work .content .workBx h3
{
	margin-top: 40px;
	text-align: end;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 1em;
}
.work .content .workBx h3 span
{
	font-size: 14px;
	font-weight: 400;
}
.contact
{
	background: #111;
}
.formBx
{
	min-width: 60%;
}
.formBx form
{
	display: flex;
	flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
	margin-bottom: 20px;
	padding:15px;
	font-size: 16px;
	border: none;
	outline: none;
	background: #222;
	color: #fff;
	resize: none;
}
.formBx form textarea
{
	min-height: 200px;
}
.formBx form input::placehoder,
.formBx form textarea::placehoder
{
	color: #999;
}
.formBx form input[type="submit"]
{
	max-width: 100px;
	background: #2196f3;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px; 
	color: #fff;
}
.contactInfo
{
	min-width: 40%;
}
.contactInfoBx
{
	position: relative;
}
.contactInfoBx .box
{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.contactInfoBx .box .icon
{
	min-width: 40px;
	padding-top: 4px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 24px;
}
.contactInfoBx .box .text
{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.contactInfoBx .box .text h3
{
	font-weight: 500;
	color: #2196f3;
	margin-bottom: 0;
}
.contactInfoBx .box .text a
{
	text-decoration: none;
	color: #fff;
}
.copyright
{
	background: #000;
	color: #fff;
	text-align: center;
	padding: 10px;
}
.tooltip {
  font-size: 20px;
  text-align:center;
  padding: 20px;
  margin: -20px auto;
  position: relative;
  width: 200px;
}

.tooltip:before {
  content: attr(data-description);
  background: #2e2e2e;
  color: #ffffff;
  padding: 20px;
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -120px;
  width: 200px;
  line-height: 25px;
  border-radius: 10px;
  opacity: 0;
  transition: .25s ease-in-out;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: 35px;
  left: 49%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  transition: .25s ease-in-out;
  opacity: 0;
}

.tooltip:hover:before {
  opacity: 1;
  top: -50px;
}

.tooltip:hover:after {
  opacity: 1;
  top: 15px;
}
/*Responsive Web*/
@media (max-width: 991px)
{
	header,
	header.sticky
	{
		padding: 20px 50px;
		z-index: 1000;

	}
	.menu
	{
		position: fixed;
		top: 75px;
		left: -100%;
		display: block;
		padding: 100px 50px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background: #fff;
		transition: 0.5s;
		z-index: 999;
		border-top: 1px solid rgba(0,0,0,0.2);
	}
	.menu.active
	{
		left: 0;
	}
	header ul li a
	{
		color: #111;
		font-size: 24px;
		margin: 10px; 
	}
	.toggle
	{
		width: 40px;
		height: 40px;
		background: url(../images/menu.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 30px;
		cursor: pointer;
	}
	.toggle.active
	{
		background: url(../images/close.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px;
		cursor: pointer;
	}
	header.sticky .toggle
	{
		filter: invert(1);
	}
	section
	{
		padding: 100px 50px;
	}
	.banner
	{
		padding: 150px 50px 100px;
	}
	.banner h2
	{
		font-size: 1.5em;
	}
	.banner h3
	{
		font-size: 1em;
	}
	.btn
	{
		margin-top: 10px;
		padding: 10px 20px;
		font-size: 16px;
	}
	.heading h2
	{
		font-size: 24px;
	}
	.contentBx h3
	{
		font-size: 20px;
	}
	.content
	{
		flex-direction: column;
	}
	.w50
	{
		margin-bottom: 20px;
	}
	.skill .content .skillBx
	{
		margin: 10px;
	}
	.project .content .projectBx
	{
		width: 100%;
		padding: 10px;
	}
	.work .content .workBx
	{
		max-width:calc(100% - 20px);
		padding: 40px 20px;
		margin: 10px;
		background: #33ab9f;
	}
	.work .content .workBx h3
	{
		margin-top: 20px;
	}
	.contactInfo
	{
		margin: 20px 0;
	}
	.modal-content
	{
		width: 80%;
	}

}
@media(max-width: 600px)
{
	header,
	header.sticky
	{
		padding: 20px 20px;
	}
	.banner
	{
		padding: 150px 50px 100px;
	}
	section
	{
		padding: 100px 20px;
	}
}
